{% extends 'base.html.twig' %}

{% block body %}
<!-- About Section -->
<section class="about_section layout_padding ">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="img-box">
          <img src="frontOffice/images/about-img.jpg" alt="">
        </div>
      </div>
      <div class="col-md-6">
        <div class="detail-box">
          <div class="heading_container">
            <h2>
              qui nous sommes
            </h2>
          </div>
          <p>
Formini est une plateforme innovante et inspirante, dédiée à l'apprentissage et au développement des compétences pour tous. Notre mission est de rendre l'éducation accessible, engageante et adaptée aux besoins de chacun, que ce soit pour progresser dans sa carrière ou pour explorer de nouvelles passions. Nous croyons en la puissance de l'apprentissage continu pour transformer les vies et ouvrir de nouvelles opportunités. Avec une équipe passionnée d'experts et de créatifs, nous avons conçu une plateforme intuitive, riche en ressources et en outils pratiques. Formini, c'est bien plus qu'une application : c'est une communauté bienveillante où l'entraide et la motivation sont au cœur de l'expérience. Rejoignez-nous et découvrez un espace où chaque pas compte, où chaque compétence acquise est une victoire. Ensemble, construisons un avenir où chacun peut réaliser son plein potentiel. Bienvenue chez Formini, votre partenaire pour apprendre, grandir et réussir !  </p>
          
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Info Section -->

<!-- end info_section -->
{% endblock %}
