{% extends 'base.html.twig' %}

{% block body %}
    <div class="container py-5">
        <h2>Nouvelle Discussion</h2>

        <form method="POST">
            <div class="form-group">
                <label for="receiver_id">Choisir un destinataire :</label>
                <select name="receiver_id" id="receiver_id" class="form-control {% if errors is not empty %}is-invalid{% endif %}">
                    <option value="">Sélectionnez un destinataire</option>
                    {% for utilisateur in utilisateurs %}
                        {% if utilisateur.id != 1 %}
                            <option value="{{ utilisateur.id }}">{{ utilisateur.username }}</option>
                        {% endif %}
                    {% endfor %}
                </select>

                <!-- Affichage des erreurs pour le champ receiver_id -->
                {% if errors is not empty %}
                    <div class="text-danger mt-2">
                        {% for error in errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <button type="submit" class="btn btn-primary mt-3">Créer la discussion</button>
        </form>
    </div>
{% endblock %}
