{% extends 'base.html.twig' %}

{% block title %}Modifier une Inscription{% endblock %}
{% block stylesheets %}
<style>
    h1 {
        text-align: center;
        margin-top: 10px;
    }
</style>
{% endblock %}
{% block body %}
<h1 class="text-center mt-4">Formulaire d'Inscription</h1>

    {{ include('inscription_cours/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('app_inscription_cours_index') }}">Retour à la liste des inscriptions</a>

    {{ include('inscription_cours/_delete_form.html.twig') }}
{% endblock %}
