{% extends 'base.html.twig' %}

{% block title %}New InscriptionCours{% endblock %}

{% block body %}
    <h1>Create new InscriptionCours</h1>

    {{ include('inscription_cours/_form.html.twig') }}

    <a href="{{ path('app_inscription_cours_index') }}">back to list</a>
{% endblock %}
