{% extends 'base.html.twig' %}

{% block title %}Formulaire d'Inscription{% endblock %}

{% block body %}

    {{ include('inscription_cours/_form.html.twig') }}

    <a href="{{ path('app_inscription_cours_index') }}">Retour à la liste des inscriptions</a>
{% endblock %}
