{% extends 'base.html.twig' %}

{% block title %}Paiement réussi{% endblock %}

{% block body %}
    <h1>Paiement réussi !</h1>
    <p>Votre inscription a été confirmée. Le montant de votre inscription a été débité.</p>
{% endblock %}
